/*Basic set up*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Archivo Narrow', sans-serif;
   
}

/*Col Basic set up*/
[class*="col-"] {
    width: 100%;
    float: left;
}

[class*="col-sm"] {
    margin-bottom: 20px;
}
.portfolio {
    width: 100px;
    height: 121px;
    position: fixed;
    
    right: 12px;
    top:150px;
    background-color: white;
    z-index: 4;
}

.portfolio img { 
    width: 100%;position: absolute;bottom:20px;
}
.portfolio p {color: #fa6c6c;
    font-size: 10px;
    padding: 10px;
    position: absolute;bottom: 9px;right:9px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

@media screen and (min-width:992px) {
    .col-md-1 {

        width: calc(100% * 1 / 12);
    }

    .col-md-2 {
        width: calc(100% * 2 / 12);
    }

    .col-md-3 {
        width: calc(100% * 6 / 25);
    }

    .col-md-4- {
        width: calc(100% * 8 / 25);
    }

    .col-md-4 {
        width: calc(100% * 4 / 12);
    }

    .col-md-5 {
        width: calc(100% * 5 / 12);
    }

    .col-md-6 {
        width: calc(100% * 6 / 12);
    }

    .col-md-7 {
        width: calc(100% * 7 / 12);
    }

    .col-md-8 {
        width: calc(100% * 8 / 12);
    }

    .col-md-9 {
        width: calc(100% * 9 / 12);
    }

    .col-md-10 {
        width: calc(100% * 10 / 12);
    }

    .col-md-11 {
        width: calc(100% * 11 / 12);
    }

    .col-md-12 {
        width: calc(100% * 12 / 12);
    }
}

@media screen and (min-width:768px)and(max-width:991px) {
    .col-sm-1 {

        width: calc(100% * 1 / 12);
    }

    .col-sm-2 {
        width: calc(100% * 2 / 12);
    }

    .col-sm-3 {
        width: calc(100% * 3 / 12);
    }

    .col-sm-4 {
        width: calc(100% * 4 / 12);
    }

    .col-sm-5 {
        width: calc(100% * 5 / 12);
    }

    .col-sm-6 {
        width: calc(100% * 6 / 12);
    }

    .col-sm-7 {
        width: calc(100% * 7 / 12);
    }

    .col-sm-8 {
        width: calc(100% * 8 / 12);
    }

    .col-sm-9 {
        width: calc(100% * 9 / 12);
    }

    .col-sm-10 {
        width: calc(100% * 10 / 12);
    }

    .col-sm-11 {
        width: calc(100% * 11 / 12);
    }

    .col-sm-12 {
        width: calc(100% * 12 / 12);
        min-width: 500px;
    }
}


/*Layout*/

.nav {
    width: 86%;
    height: 70px;
    margin: 0 auto;
    
    white-space: nowrap;

}

.nav img {
    height: 17px;
    margin: 6px;
    margin-top: 33px;white-space: nowrap;
}

.nav2 {
    text-align: center;
    margin: 0 auto;
    height: 58px;
    font-size: 15px;
}

.doublerow {
    position: relative;
}

.row1 {
    height: 79px;
    color: black;
    background-color: #1C1C1C;

}

.row2 {
    height: 58px;
}

.SearchBar {
    color: white;
    margin-top: 25px;
    width: 200px;
    float: right;
    position: relative;white-space: nowrap;
}

.SearchBar input {
    width: 100%;
    height: 35px;
    padding: 10px;
    padding-left: 35px;
    font-size: 13px;
    border-radius: 80px;

}

.SearchBar img {
    position: absolute;
    top: -25px;
    left: 1px;
    width: 20px;
}

ul {
    white-space: nowrap;
}

li {
    display: inline-block;
    margin: 20px;
    margin-left: 0;
    margin-top: 20px;
    white-space: nowrap;
}
.doublerow{width: 100%; margin: 0 auto;}
.logo {
    width: 86px;margin: 0 auto;
    position: absolute;
    top: 6px;
    left:43%;
    z-index: 1;
    
    
}

.container {
    width: 86%;
    margin: 0 auto;
    overflow: auto;
}

.row3 {
    height: 410px;
    background-image: url(../img/header.jpeg);
    background-size: cover;
    margin bottom: 30px;
    margin-top: 30px;
    position: relative;
    clear: both;
}

.col-md-4-: {
    background-color: white;
}

.row4 img {
    width: 100%;
}

.row4 p {
    font-size: 11px;
    padding: 15px;
    padding-bottom: 0;
}

.row5 img {
    width: 100%;
}

.col-md-8 {
    background-color: white;
}



.row6 img {
    width: 100%;
}

.row6 {
    padding-top: 30px;
    margin-bottom: 50px;
}

.copyright {
    height: 100%;
    background-color: white;
}

.col-md-4- {
    margin-right: 2%;

}

.row4 {
    padding-top: 20px;
}

h1 {
    font-size: 19px;
    padding-left: 15px;
    padding-bottom: 40px;
    white-space: nowrap;
}

.col-md-4 p {
    font-size: 11px;
    padding: 15px;
    padding-bottom: 0;
}

.thumbnail {
    background-color: white;
}

.row5 {
    padding-top: 20px;
}

.title {
    padding-top: 50px;
    font-size: 45px;
}

.col-md-3 {
    margin-right: 1.33%;
}

.thumbnailright {
    margin-right: 0;
}

h2 {
    vertical-align: middle;
    padding-left: 15px
}

.row6 p {
    padding-top: 190px;
}

.background {
    width: 100%;
    background-color: #e2e2e2;
}

.blank {
    background-color: white;
    width: 330px;
    height: 90px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

h4 {
    padding: 22px;
    font-size: 32px;
    color: black;
}

.row6 .background {
    height: 450px;
    background-image: url(../img/8-1.jpeg);
    background-size: cover;
    overflow: auto;
}

.row6 .copywrite {
    height: 400px;
    padding: 10px;
}

.row6 .col-sm-12 {
    margin-bottom: 0px;
}

.row6 .thumbnail {
    height: 450px;
}
